//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "fonts";
@import "color";
@import "anim";

body {
    color: #242424;
    font-family: GothamPro;
    font-size: .875rem;
}

.error {
    border: 1px solid #ff0000 !important;
}

.wrap {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: flex-start;
}


.text_yellow {
    color: @yellow;
}

.text_green {
    color: @green;
}

.ymaps-2-1-68-ground-pane {
    filter: grayscale(100%);
}

.button {
    display: inline-block;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: GothamPro-Medium;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
}

.caption_underline {
    position: relative;
    display: inline;
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 5px;
        display: block;
        width: 100%;
        height: 10px;
        background-image: @gradient;
    }
}

.liquid-button {
    margin: -40px;
    cursor: pointer;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 790px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    .wrap {
        position: relative;
        z-index: 1;
        padding: 20px 20px 0;
        height: 100%;
        .header_info {
            margin-left: 40px;
            color: #fff;
            font-family: GothamPro-Medium;
        }
        .address,
        .phone {
            color: #fff;
            text-align: right;
            &_img {
                margin-right: 10px;
                transform: translateY(3px);
            }
        }
        .phone {
            margin-left: 70px;
            line-height: 28px;
            font-family: GothamPro-Medium;
            &_button {
                color: #fff;
                text-decoration: none;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
    }
    &_caption {
        text-align: center;
        font-size: 3.125rem;
        color: #fff;
        font-family: GothamPro-Black;
        text-transform: uppercase;
    }
    &_paragraph {
        margin-top: 50px;
        text-align: center;
        font-size: 2rem;
        color: #fff;
        font-family: GothamPro;
        text-transform: uppercase;
    }
    .icons {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        .icon_block {
            color: #fff;
            text-align: center;
            font-size: 1.125rem;
            &_desc {
                margin-top: 20px;
            }
        }
    }
    .test-button {
        display: block;
        margin: 50px auto 0;
    }
}

.qualities {
    margin: -70px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    &_block {
        position: relative;
        width: 360px;
        height: 360px;
        background-color: #000;
        overflow: hidden;
        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .8;
            transition: all .7s;
        }
        &_text {
            position: absolute;
            left: 25px;
            bottom: 25px;
            width: 220px;
            color: #fff;
            transform: translateY(~"calc(100% + 17px)");
            transition: all .7s;
            &_caption {
                position: absolute;
                top: 0;
                transform: translateY(-100%);
                font-size: 1.125rem;
                font-family: GothamPro-Black;
                text-transform: uppercase;
                &::after {
                    content: '';
                    display: block;
                    margin-top: 10px;
                    width: 35px;
                    height: 3px;
                    background-color: #fff;
                }
            }
            &_paragraph {
                margin-top: 15px;
            }
        }
        &:hover {
            .qualities_block_img {
                opacity: .4;
            }
            .qualities_block_text {
                transform: translateY(0);
                &_caption {
                    &::after {
                        background-image: @gradient;
                    }
                }
            }
        }
    }
}

.resort {
    margin-top: 70px;
    padding: 0 10px;
    box-sizing: border-box;
    &_caption {
        margin: 0 auto 50px;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 3.437rem;
        font-family: GothamPro-Black;
        max-width: 1200px;
    }
    &_block {
        position: relative;
        margin-bottom: 10px;
        width: ~"calc(50% - 5px)";
        height: 700px;
        background-color: #000;
        overflow: hidden;
        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &_content {
            position: absolute;
            left: 50px;
            bottom: 50px;
            color: #fff;
            font-family: GothamPro-Bold;
            &_caption {
                font-size: 2.562rem;
            }
            &_paragraph {
                margin-top: 25px;
                font-size: 2.437rem;
            }
            .button {
                margin-top: 30px;
            }
        }
    }
}

.company-desc {
    position: relative;
    margin-top: 70px;
    padding-top: 70px;
    height: 400px;
    &_bg {
        position: absolute;
        right: 50%;
        transform: translateX(130px);
        margin-top: -20px;
        z-index: -3;
        color: rgba(255, 255, 255, .1);
        font-size: 185px;
        font-family: GothamPro-Bold;
        text-align: center;
        vertical-align: bottom;
        width: 750px;
        height: 400px;
        background-image: linear-gradient( 90deg, rgb(0, 174, 205) 0%, rgb(203, 196, 0) 100%);
        overflow: hidden;
        .desc {
            position: relative;
            padding-top: 70px;
            &_caption {
                margin-top: 70px;
                font-size: 3.437rem;
                font-family: GothamPro-Black;
            }
            &_paragraph {
                padding: 0 300px 0 65px;
                box-sizing: border-box;
                line-height: 1.5;
                text-align: left;
                color: #fff;
                font-size: 1.125rem;
                font-family: GothamPro;
            }
        }
        &_caption {
            position: absolute;
            left: 50%;
            bottom: -45px;
            transform: translateX(-50%);
        }
    }
    .desc_caption {
        font-size: 3.437rem;
        font-family: GothamPro-Black;
    }
    .desc-slider {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-100px);
        width: 700px;
        height: 415px;
        box-shadow: 0px 21px 46px 0px rgba(0, 0, 0, 0.32);
        &_img {
            width: 700px;
            height: 415px;
            object-fit: cover;
        }
    }
}

.employees {
    padding: 150px 0 30px;
    overflow: hidden;
    &_caption {
        font-size: 3.437rem;
        font-family: GothamPro-Black;
    }
    &_slider {
        width: 100%;
        .slick-list {
            padding: 70px 0 70px 10px;
            .slick-slide {
                margin: 0 20px;
            }
        }
        &_block {
            height: 540px;
            padding-bottom: 40px;
            background-color: #fff;
            box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.22);
            &_img {
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
            &_caption {
                position: relative;
                z-index: 1;
                margin-top: 30px;
                padding: 0 15px 0 25px;
                display: inline-block;
                font-size: 1.25rem;
                font-family: GothamPro-Bold;
                &::after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    bottom: 1px;
                    display: block;
                    width: 100%;
                    height: 7px;
                    background-image: @gradient;
                }
            }
            &_paragraph {
                padding: 25px 25px 0;
            }
        }
    }
}

.preference {
    padding-bottom: 100px;
    &_caption {
        font-size: 3.437rem;
        font-family: GothamPro-Black;
    }
    &_blocks {
        margin-top: 50px;
        padding: 0 0 0 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .preference_block {
            position: relative;
            margin-right: 10px;
            width: ~"calc(33.333% - 10px)";
            height: 560px;
            background-color: #000;
            &::after {
                content: '';
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-image: @gradient;
                opacity: 0;
                transition: all .7s;
            }
            &_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .7s;
            }
            &_desc {
                z-index: 3;
                position: absolute;
                left: 40px;
                bottom: 70px;
                color: #fff;
                opacity: 0;
                transition: all .7s;
                &_caption {
                    font-size: 3.125rem;
                    font-family: GothamPro-Bold;
                }
                &_button {
                    margin-top: 25px;
                    display: block;
                    width: 285px;
                    height: 60px;
                    line-height: 60px;
                    text-decoration: none;
                    color: #fff;
                    text-align: center;
                    font-size: .812rem;
                    font-family: GothamPro-Medium;
                    text-transform: uppercase;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, .1);
                    box-shadow: 0px 21px 46px 0px rgba(0, 0, 0, 0.14);
                    transition: all .7s;
                    &:hover {
                        background-color: rgba(255, 255, 255, .3);
                    }
                    .button_arrow {
                        margin-left: 20px;
                    }
                }
            }
            &:hover {
                &::after {
                    opacity: .6;
                }
                .preference_block_img {
                    opacity: .8;
                }
                .preference_block_desc {
                    opacity: 1;
                }
            }
        }
    }
}

.review {
    overflow: hidden;
    &_caption {
        font-size: 3.437rem;
        font-family: GothamPro-Black;
    }
    &_slider {
        width: 110%;
        background-image: url(../img/review_bg.jpg);
        background-size: cover;
        .slick-list {
            padding: 100px 0 100px 10px;
            .slick-slide {
                margin: 0 20px;
            }
        }
        &_block {
            padding: 40px 0 60px 30px;
            box-sizing: border-box;
            height: auto;
            background-color: rgba(255, 255, 255, .9);
            &_caption {
                position: relative;
                font-size: 1rem;
                font-family: GothamPro-Medium;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -25px;
                    width: 100%;
                    height: 1px;
                    background-color: #242424;
                    opacity: .1;
                }
            }
            &_paragraph {
                margin-top: 55px;
                padding-right: 40px;
                line-height: 25px;
                font-size: .937rem;
            }
        }
    }
}

.photo {
    padding: 100px 0 55px 0;
    overflow: hidden;
    &_caption {
        margin-bottom: 50px;
        font-size: 3.437rem;
        font-family: GothamPro-Black;
    }
    &_slider {
        margin-bottom: 15px;
        width: 137%;
        transform: translateX(-12.5%);
        .slick-slide {
            margin: 0 7.5px;
        }
        &_block {
            height: 350px;
            &_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.promotions {
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    &_block {
        padding: 40px 0;
        width: 40%;
        &_content {
            margin: 0 auto;
            width: 360px;
            &_caption {
                font-size: 3.437rem;
                font-family: GothamPro-Black;
                background-image: @gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
            }
            &_paragraph {
                margin-top: 30px;
                line-height: 26px;
                font-size: 1.125rem;
                font-family: GothamPro-Medium;
                .viber {
                    margin-left: 10px;
                    vertical-align: bottom;
                }
            }
            .phone_form {
                margin-top: 35px;
                padding: 30px;
                box-sizing: border-box;
                width: 360px;
                text-align: center;
                background-color: #fff;
                box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.14);
                .phone_input {
                    width: 290px;
                    padding: 20px 45px;
                    box-sizing: border-box;
                    font-family: GothamPro;
                    border: 1px solid #d9d9d9;
                    border-radius: 50px;
                    background-color: #f2f2f2;
                    outline: none;
                }
                .phone-button {
                    margin-top: 15px;
                }
            }
        }
    }
    &_picture {
        width: 60%;
        height: 540px;
        &_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.contacts {
    position: relative;
    .map {
        height: 560px;
    }
    &_block {
        position: absolute;
        top: 0;
        right: 0;
        padding: 50px 0 0 100px;
        box-sizing: border-box;
        width: 40%;
        height: 100%;
        color: #fff;
        background-image: linear-gradient( 90deg, rgba(0, 174, 205, .85) 0%, rgba(235, 227, 0, .85) 100%);
        &_caption {
            font-size: 3rem;
            font-family: GothamPro-Bold;
        }
        .contacts_wrap {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            &_image {
                margin-right: 25px;
                line-height: 30px;
            }
            &_text {
                line-height: 30px;
                font-size: 1.25rem;
                font-family: GothamPro-Medium;
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
        &_button {
            margin-top: 30px;
            display: block;
            width: 285px;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            font-size: .812rem;
            font-family: GothamPro-Medium;
            text-transform: uppercase;
            border: 2px solid #fff;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, .1);
            box-shadow: 0px 21px 46px 0px rgba(0, 0, 0, 0.14);
            transition: all .7s;
            &:hover {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }
}

.footer {
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 85px;
    line-height: 85px;
    font-family: GothamPro-Medium;
    .developer {
        color: #00adbc;
        text-decoration: none;
        &:hover {
            color: lighten(#00adbc, 10%);
        }
    }
}

.thank {
    text-align: center;
    .back_link {
        margin: 50px auto 0;
        display: inline-block;
        &_button {
            margin: -40px;
        }
    }
}

.slick-slide {
    transition: opacity .7s;
}

.review_slider .slick-slide.slick-current + .slick-active + .slick-active + .slick-active {
    opacity: .3;
}

.modal-open {
    overflow: hidden;
}

.locker {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}


.close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 20px;
        height: 1px;
        background-color: #d9d9d9;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
        background-color: #f2f2f2;
    }
}

.submit {
    background-color: transparent;
    border: none;
    outline: none;
}

.modal_form {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    &_caption {
        margin-bottom: 20px;
        font-size: 1.25rem;
        font-family: GothamPro-Bold;
    }
    .form_name_input,
    .form_phone_input {
        margin-bottom: 20px;
        width: 260px;
        padding: 20px 45px;
        box-sizing: border-box;
        font-family: GothamPro;
        border: 1px solid #d9d9d9;
        border-radius: 50px;
        background-color: #f2f2f2;
        outline: none;
    }
}

.modal_test {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    box-sizing: border-box;
    width: 550px;
    text-align: center;
    background-color: #fff;
    .question {
        display: none;
        .radio {
            position: relative;
            margin-right: 20px;
            width: 18px;
            height: 18px;
            border: none;
            background-color: transparent;
            &::before {
                content: '';
                position: absolute;
                top: -1px;
                left: -1px;
                width: 20px;
                height: 20px;
                border: 1px solid #d9d9d9;
                border-radius: 50%;
                background-color: #f2f2f2;
            }
            &:checked::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-image: @gradient;
            }
        }
        &_caption {
            font-size: 1.25rem;
            font-family: GothamPro-Bold;
        }
        &_paragraph {
            margin-top: 20px;
            font-size: 1.25rem;
        }
        &_form {
            margin: 20px 0 30px;
            .label {
                display: block;
                margin-bottom: 10px;
                text-align: left;
                cursor: pointer;
            }
        }
    }
    .question_active {
        display: block;
    }
    .prev_question,
    .next_question {
        margin-bottom: 10px;
        border: none;
        background-color: transparent;
        outline: none;
        visibility: hidden;
        cursor: pointer;
    }
    .button_visible {
        visibility: visible;
    }
    .test_name_input,
    .test_phone_input {
        margin-bottom: 20px;
        width: 260px;
        padding: 20px 45px;
        box-sizing: border-box;
        font-family: GothamPro;
        border: 1px solid #d9d9d9;
        border-radius: 50px;
        background-color: #f2f2f2;
        outline: none;
    }
}

@import "media";
